* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style-type: none;
  text-decoration: none;
}

:root {
  /* Определение цветов */
  --orange: rgb(255, 125, 66);
  --red: rgb(253, 5, 88);
  --black: rgb(0,0,0);
  --white: rgb(255,255,255);
  --gray: rgb(214,214,214);
  --indigo: rgb(0, 84, 238);
}