@import '../../../App.css';

.Registration {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .Registration__group {
        width: 475px;

        .Registration__attention {
            text-indent: 1.25rem;
            margin-bottom: 3rem;
        }
    
        .Registration__input-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            .input {
                margin-bottom: 1rem;
            }
        }

        // Кнопка
        .Registration__button-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            margin-bottom: 2rem;
            .Registration__button-send {
                font-size: 14px;
            }
        }
    }
}