@import '../../App.css';

.Animals {
    .Animals__wrapper {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        
        .Animals__container {
            .Animals__content {

            }
        }
    }
}