@import '../../App.css';

.Animals {
    background-color: var(--white);
    border-radius: var(--border-radius-high);
    overflow: hidden;
    
    // Секция 1. Введение - навигация
    .Introduction {
        padding-top: 112px;

        .Introduction__wrapper {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 60px;
            .Introduction__container {
                padding: 60px 0 60px;
                .Introduction__header {
                    display: flex;
                    flex-direction: column;
                    .Introduction__header-nav {
                        display: flex;
                        border-bottom: 2px solid var(--dark-gray);
                        padding-bottom: 37px;
                        & > :last-child {
                            margin-left: 10px;
                        }
                        .Introduction__link-main {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .Introduction__link-text {
                                position: relative;
                                color: var(--light-gray);
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 14px;
                                &:hover::after {
                                    width: 0;
                                }
                                &::after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    width: 100%;
                                    height: 1px;
                                    background-color: var(--light-gray);
                                    transition: width .3s ease-in-out;
                                }
                            }
                            .icon {
                                width: 10px;
                                height: 10px;
                                margin-left: 5px;
                            }
                        }
                        .Introduction__current-page {
                            color: var(--dark-gray);
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                    .Introduction__header-content {
                        display: flex;
                        justify-content: space-between;
                        align-items: start;
                        padding: 25px 0 115px;
                        .Introduction__header-title {
                            width: 50%;
                            font-size: 34px;
                            font-weight: 600;
                            line-height: 41px;
                            color: var(--light-gray);
                        }
                        .Introduction__header-descr {
                            width: 50%;
                            font-size: 54px;
                            line-height: 60px;
                            font-weight: 600;
                            color: var(--light-gray);
                        }
                    }
                }
            }
        }
    }

    // Секция 2. Настройки поиска
    .SearchSettings {
        margin-bottom: 30px;
        .SearchSettings__wrapper {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 60px;
            .SearchSettings__container {
                .SearchSettings__content {
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    width: 100%;
                    .SearchSettings__btn-group {
                        display: flex;
                        flex-direction: row;
                        align-items: start;
                        width: 50%;

                        // Группа кнопок для отображения животных по их типу
                        .SearchSettings__btn-animal-group {
                            display: flex;
                            margin-right: 10px;

                            // Свойства кнопок
                            .SearchSettings__btn-item {
                                display: inline-block;
                                padding: 12px 15px;
                                height: 40px;
                                font-size: 12px;
                                line-height: 15px;
                                font-weight: 500;
                                background-color: var(--white);
                                outline: var(--outline-dark-gray);
                                border-radius: var(--border-radius-small);
                                transition: var(--transition);
                                cursor: pointer;
                                &:nth-child(n):not(:last-child) {
                                    margin-right: 10px;
                                }
                                &:hover {
                                    background-color: var(--dark-gray);
                                    color: var(--white);
                                }
                                .SearchSettings__btn-text {
                                    margin-right: 10px;
                                }
                                .SearchSettings__btn-icon {
                                    display: inline-flex;
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                            // Активная кнопка
                            .active {
                                background-color: var(--dark-gray);
                                color: var(--white);
                            }
    
                        }

                        // Группа кнопок для фильтраци животных по их особенностям
                        .SearchSettings__btn-animal-characteristics-group {
                            display: flex;

                            // МО для фильтрации животных по возрасту
                            .SearchSettings__btn-mw-group-age {
                                position: relative;


                                // Модальное окно "Возраст животных"
                                .SearchSettings__window-animal-age {
                                    // display: none;
                                    position: absolute;
                                    top: 120%;
                                    left: -55%;
                                    z-index: 20;
                                    background: var(--radial-gradient-red-orange);
                                    border-radius: var(--border-radius-small);
                                    box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
                                    // opacity: 0;
                                    transition: opacity 0.3s ease;
                                    .SearchSettings__window-animal-age-wrapper {
                                        width: 100%;
                                        width: 256px;
                                        margin: 0 auto;
                                        padding: 0 25px;
                                        .SearchSettings__window-animal-age-container {
                                            min-height: 185px;
                                            padding: 25px 0 25px;
                                            .SearchSettings__window-animal-age-content {
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: space-between;
                                                height: 100%;
                                                .SearchSettings__window-animal-age-header {
                                                    display: flex;
                                                    flex-direction: column;
                                                    padding-bottom: 30px;
                                                    border-bottom: 1px solid var(--white);
                                                    .SearchSettings__window-animal-age-label {
                                                        display: flex;
                                                        align-items: center;
                                                        &:nth-child(n):not(:last-child) {
                                                            margin-bottom: 15px;
                                                        }
                                                        .SearchSettings__window-animal-age-input {
                                                            margin-right: 10px;
                                                            width: 17px;
                                                            height: 17px;
                                                        }
                                                        .SearchSettings__window-animal-age-text {
                                                            text-transform: uppercase;
                                                            color: var(--white);
                                                            font-size: 10px;
                                                            line-height: 12px;
                                                            font-weight: 600;
                                                        }
                                                    }
                                                }
                                                .SearchSettings__window-animal-age-footer {
                                                    margin-top: 25px;
                                                    .SearchSettings__window-animal-age-button {
                                                        display: inline-block;
                                                        background: transparent;
                                                        padding: 12px 25px;
                                                        font-size: 12px;
                                                        outline: 1px solid var(--white);
                                                        border-radius: var(--border-radius-small);
                                                        color: var(--white);
                                                        transition: all 0.3s ease-out;
                                                        cursor: pointer;
                                                        &:hover {
                                                            outline: 2px solid var(--white);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .modal {
                                    display: block;
                                }
                                // .visible-window {
                                //     display: block;
                                // }
                            }

                            // МО для фильтрации животных по их особенностям
                            .SearchSettings__btn-mw-group-peculiarities {
                                position: relative;
                                .SearchSettings__window-animal-peculiarities {
                                    position: absolute;
                                    top: 120%;
                                    left: -30%;
                                    z-index: 20;
                                    background: var(--radial-gradient-red-orange);
                                    border-radius: var(--border-radius-small);
                                    box-shadow: 1px 2px 10px rgba(0,0,0,0.4);
                                    transition: opacity 0.3s ease;
                                    .SearchSettings__window-animal-peculiarities-wrapper {
                                        width: 100%;
                                        width: 256px;
                                        margin: 0 auto;
                                        padding: 0 25px;
                                        .SearchSettings__window-animal-peculiarities-container {
                                            min-height: 185px;
                                            padding: 25px 0 25px;
                                            .SearchSettings__window-animal-peculiarities-content {
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: space-between;
                                                height: 100%;
                                                .SearchSettings__window-animal-peculiarities-header {
                                                    display: flex;
                                                    flex-direction: column;
                                                    padding-bottom: 30px;
                                                    border-bottom: 1px solid var(--white);
                                                    .SearchSettings__window-animal-peculiarities-label {
                                                        display: flex;
                                                        align-items: center;
                                                        &:nth-child(n):not(:last-child) {
                                                            margin-bottom: 15px;
                                                        }
                                                        .SearchSettings__window-animal-peculiarities-input {
                                                            margin-right: 10px;
                                                            width: 17px;
                                                            height: 17px;
                                                            border: none;
                                                        }
                                                        .SearchSettings__window-animal-peculiarities-text {
                                                            text-transform: uppercase;
                                                            color: var(--white);
                                                            font-size: 10px;
                                                            line-height: 12px;
                                                            font-weight: 600;
                                                        }
                                                    }
                                                }
                                                .SearchSettings__window-animal-peculiarities-footer {
                                                    margin-top: 25px;
                                                    .SearchSettings__window-animal-peculiarities-button {
                                                        display: inline-block;
                                                        background: transparent;
                                                        padding: 12px 25px;
                                                        font-size: 12px;
                                                        outline: 1px solid var(--white);
                                                        border-radius: var(--border-radius-small);
                                                        color: var(--white);
                                                        transition: all 0.3s ease-out;
                                                        cursor: pointer;
                                                        &:hover {
                                                            outline: 2px solid var(--white);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .modal {
                                    display: block;
                                }
                                // .visible-window {
                                //     display: block;
                                // }
                            }

                            // Базовые свойства кнопок
                            .SearchSettings__btn-item {
                                display: inline-block;
                                padding: 12px 15px;
                                height: 40px;
                                font-size: 12px;
                                line-height: 15px;
                                font-weight: 500;
                                background-color: var(--white);
                                outline: var(--outline-dark-gray);
                                border-radius: var(--border-radius-small);
                                transition: var(--transition);
                                cursor: pointer;
                                &:first-child {
                                    margin-right: 10px;
                                }
                            }
                            // Для кнопок с иконками
                            .SearchSettings__btn-with-icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                &:hover {
                                    background: var(--radial-gradient-red-orange);
                                    color: var(--white);
                                    outline: none;
                                    .SearchSettings__btn-text {
                                        color: var(--white);
                                    }
                                }
                            }
                            // Активная кнопка для свойст животных
                            .active-red {
                                background: var(--radial-gradient-red-orange);
                                color: var(--white);
                                outline: none;
                                .SearchSettings__btn-text {
                                    color: var(--white);
                                }
                            }
                        }
                        
                    }

                    // Свойства для поля инпут
                    .SearchSettings__search-field {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 50%;
                        height: 40px;
                        outline: var(--outline-dark-gray);
                        border-radius: var(--border-radius-small);
                        padding: 0 8px 0 12px;
                        .SearchSettings__search-input-grp {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            .SearchSettings__search-icon {
                                // display: inline-flex;
                                width: 24px;
                                height: 24px;
                                margin-right: 10px;
                            }
                            .SearchSettings__search-input {
                                width: 100%;
                            }
                        }
                        .SearchSettings__search-btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: var(--radial-gradient-red-orange);
                            border-radius: var(--border-radius-small);
                            color: var(--white);
                            transition: var(--transition);
                            padding: 8px 13px;
                            cursor: pointer;
                            &:hover {
                                filter: brightness(0.9);
                            }
                            .SearchSettings__search-arrow-icon {
                                   
                            }
                        }
                    }
                }
            }
        }
    }

    // Секция 3. Список животных
    .ListAnimal {
        .ListAnimal__wrapper {
            width: 100%;
            max-width: 1440px;
            padding: 0 60px;
            .ListAnimal__container {
                .ListAnimal__content {

                    .ListAnimal__not-found-content {
                        display: flex;
                        flex-direction: column;

                        // Сообщение о поиске животного
                        .ListAnimal__descr-wrapper {
                            padding: 74px 0;
                            background-color: #F6F6F6;
                            border-radius: var(--border-radius-medium);
                            margin-bottom: 80px;
                            .ListAnimal__descr {
                                text-align: center;
                                font-size: 24px;
                                line-height: 26px;
                                font-weight: 600;
                                letter-spacing: -0.03em;
                                color: var(--light-gray);
                            }
                        }

                        // Список животных к быстрому просмотру
                        .ListAnimal__look-other-animal {
                            display: flex;
                            flex-direction: column;
                            .ListAnimal__look-other-animal-title {
                                margin-right: 15px;
                                margin-bottom: 60px;
                                font-size: 34px;
                                font-weight: 600;
                                line-height: 41px;
                                color: var(--light-gray);
                            }
                            .ListAnimal__look-other-animal-group {

                            }
                        }
                    }
                }
            }
        }
    }
}