@import '../../App.css';

/* Адаптация для экранов выше 1920px */
.Footer {
    padding-top: 3.125rem;
    width: 100%;
    .Footer__wrapper {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 3.125rem;
        .Footer__container {
            display: flex;
            justify-content: space-between;
            padding-bottom: 0.75rem;
            border-bottom: 1px dashed var(--white);
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;

            // Группа ссылок про животных
            .Footer__links-group {
                display: flex;
                :not(:last-child) {
                    margin-right: 3.875rem;
                }

                .Footer__links-group-animals,
                .Footer__links-group-contacts-about,
                .Footer__links-group-social-media {
                    display: flex;
                    flex-direction: column;

                    .Footer__link-title {
                        margin-bottom: 2.5rem;
                        color: rgba(255,255,255,0.3);
                        font-weight: 600;
                        font-size: 0.875rem;
                        line-height: 1.125rem;
                        letter-spacing: -0.02em;
                    }
                    .Footer__links-group {
                        display: flex;
                        flex-direction: column;
                        .Footer__Link {
                            display: inline-block;
                            color: var(--white);
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 0.625rem;
                            line-height: 0.75rem;
                            margin-bottom: 1rem;
                            -webkit-font-smoothing: antialiased;
                            &:hover {
                                color: transparent;
                                background: var(--linear-gradient-red-orange);
                                background-clip: text;
                            }
                        }
                    }
                    .Footer__links-group-list {
                        .Footer__links-group {
                            
                        }
                    }
                }
            }
        }
        .partners {
            padding: 35px 0 5px;
            display: flex;
            flex-direction: column;
            .Footer__partners-title {
                margin-bottom: 2.5rem;
                color: rgba(255,255,255,0.3);
                font-weight: 600;
                font-size: 0.875rem;
                line-height: 1.125rem;
                letter-spacing: -0.02em;
            }
            .Footer__partners-icon-group {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 0 100px;
                .Footer__partners-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 6.625rem;
                }
            }
        }
        .subscribe-section {
            padding: 3.4375rem 0 2.625rem 0;
            .Footer__subscribe-title {
                font-weight: 600;
                font-size: 1.75rem;
                line-height: 2.125rem;
                letter-spacing: -0.04em;
                color: var(--white);
                -webkit-font-smoothing: antialiased;
            }
            .Footer__vetland-hash {
                margin-top: 2px;
                font-weight: 600;
                font-size: 3.375rem;
                line-height: 4.125rem;
                letter-spacing: -0.03em;
                color: transparent;
                background: var(--linear-gradient-red-orange);
                background-clip: text;
            }
        }
        .developer {
            padding: 3.4375rem 0 2.625rem 0;
            border-bottom: none;
            .Footer__developer-title {
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.0625rem;
                color: var(--white);
            }
            .Footer__developer-group {
                display: flex;
                .Footer__developer-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--white);

                    &:not(:last-child) {
                        margin-right: 2.9375rem;
                    }

                    .Footer__developer-text {
                        margin-right: 0.875rem;
                        font-weight: 500;
                        font-size: 0.75rem;
                        line-height: 1.0625rem;
                        text-transform: uppercase;

                    }
                    .Footer__developer-icon {

                    }
                }
            }
        }
    }
}