@import '../../../App.css';

.DonationInfoBoard {
    .DonationInfoBoard__content {
        border-radius: var(--border-radius-medium);
        padding: 30px 41px;
        background: #F1F1F1;
        .item {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 30px;

            .DonationInfoBoard__title {
                display: block;
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.02em;
                color: var(--light-gray);
                opacity: 0.5;
            }
            .DonationInfoBoard__value {
                font-weight: 600;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: -0.02em;
                color: var(--light-gray);
            }
        }
    }
}