@import '../../App.css';

.Profile {
    background-color: var(--white);
    border-radius: var(--border-radius-high);
    .Profile__wrapper {
        width: 100%;
        max-width: 1440px;
        padding: 0 60px;
        .Profile__container {
            padding: 60px 0 60px;
            .Profile__content {
                display: flex;
                align-items: start;

                // Содержимое контента
                .Profile__content-info {
                    width: 75%;
                    border: 1px solid black;
                    height: 150px;
                }
    
                // 
                .Profile__navbar {
                    width: 25%;
                    border: 1px solid black;
                    height: 150px;
                }
            }


        }
    }
}