@import '../../../App.css';


.HowWeLive {
    position: relative;
    z-index: 5;
    margin-top: -150px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .HowWeLive__wrapper {
        width: 100%;
        height: 100%;
        max-width: 1600px;
        margin: 0 auto;
        background-image: url('../../../assets/background/abous-us-animals-back.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: var(--border-radius-high);
        .HowWeLive__container {
            width: 100%;
            height: 100%;
            height: 100vh;
            .HowWeLive__content {
                width: 100%;
                height: 100%;
                max-width: 1440px;
                margin: 0 auto;
                padding: 60px 0;
                .HowWeLive__content-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    height: 100%;
                    .HowWeLive__content-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: start;
                        .HowWeLive__title {
                            padding-top: 25px;
                            font-size: 34px;
                            font-weight: 600;
                            line-height: 41px;
                            margin-bottom: 50px;
                            color: var(--white);
                        }
                        .HowWeLive__descr {
                            width: 572px;
                            padding: 25px 37px;
                            background: var(--radial-gradient--white-gray);
                            border-radius: var(--border-radius-medium);
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 500;
                            letter-spacing: -0.02em;
                        }
                    }
                }
            }
        }
    }
}