@import '../../App.css';


@keyframes adoption-marquee {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.AboutUs {
    background-color: var(--white);
    border-radius: var(--border-radius-high);
    overflow: hidden;
    // Секция 1. О Vetland Adoption
    .Introduction {
        position: relative;
        z-index: 10;
        background-color: var(--white);
        padding-top: 112px;
        .Introduction__wrapper {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 60px;
            .Introduction__container {
                padding: 60px 0 60px;
                .Introduction__header {
                    display: flex;
                    flex-direction: column;
                    .Introduction__header-nav {
                        display: flex;
                        border-bottom: 2px solid var(--dark-gray);
                        padding-bottom: 37px;
                        & > :last-child {
                            margin-left: 10px;
                        }
                        .Introduction__link-main {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .Introduction__link-text {
                                position: relative;
                                color: var(--light-gray);
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 14px;
                                &:hover::after {
                                    width: 0;
                                }
                                &::after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    top: 100%;
                                    left: 0;
                                    width: 100%;
                                    height: 1px;
                                    background-color: var(--light-gray);
                                    transition: width .3s ease-in-out;
                                }
                            }
                            .icon {
                                width: 10px;
                                height: 10px;
                                margin-left: 5px;
                            }
                        }
                        .Introduction__current-page {
                            color: var(--dark-gray);
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                    .Introduction__header-title {
                        padding-top: 25px;
                        font-size: 34px;
                        font-weight: 600;
                        line-height: 41px;
                        color: var(--light-gray);
                    }
                }
                .Introduction__body {
                    position: relative;
                    min-height: 540px;
                    .Introduction__mission {
                        margin-top: 106px;

                        // Анимация с "Миссия"
                        .Introduction__missons-marquee-group {
                            display: inline-block;
                            width: 100%;
                            height: 205px;
                            white-space: nowrap;
                            animation: adoption-marquee linear infinite 5s;
                            animation-fill-mode: forwards;
                            backface-visibility: hidden;
                            perspective: 1px;
                            will-change: transform;
                            :nth-child(n) {
                                margin: 0 175px;
                            }
                        }

                        // Контент над анимацией
                        .Introduction__content {
                            position: absolute;
                            top: 15%;
                            left: 17%;
                            max-width: 360px;
                            
                            .Introduction__content-group {
                                .Introduction__content-item {
                                    display: inline-block;
                                    margin-bottom: 15px;
                                }
                                .back-red,
                                .back-black,
                                .back-white {
                                    padding: 5px 8px;
                                    border-radius: var(--border-radius-small);
                                    font-size: 24px;
                                    line-height: 29px;
                                    font-weight: 600;
                                    letter-spacing: -.7px;
                                }
                                .back-red {
                                    background: var(--radial-gradient-red-orange);
                                    color: var(--white);
                                }
                                .back-black {
                                    background: var(--black);
                                    color: var(--white);
                                }
                                .back-white {
                                    background: var(--white);
                                    outline: 1px solid var(--black);
                                    color: var(--black);
                                }

                                .Introduction__content-item-group {
                                    display: flex;
                                }
                            }
                            .Introduction__content-descr {
                                margin-top: 47px;
                                width: 312px;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 18px;
                                letter-spacing: -0.02em;
                            }
                        }
                    }
                }
            }
        }
    }

    // Секция 2. Как мы живем?
    .HowWeLive {
        position: relative;
        z-index: 5;
        margin-top: -150px;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/3._about_us/animal-back.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: var(--border-radius-high);
        overflow: hidden;
        .HowWeLive__wrapper {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 60px;
            .HowWeLive__container {
                padding: 60px 0 60px;
                width: 100%;
                height: 100vh;
                .HowWeLive__content-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    height: 100%;
                    .HowWeLive__content {
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        align-items: start;
                        .HowWeLive__title {
                            padding-top: 25px;
                            font-size: 34px;
                            font-weight: 600;
                            line-height: 41px;
                            margin-bottom: 50px;
                            color: var(--white);
                        }
                        .HowWeLive__descr {
                            width: 572px;
                            padding: 25px 37px;
                            background: var(--radial-gradient--white-gray);
                            border-radius: var(--border-radius-medium);
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 500;
                            letter-spacing: -0.02em;
                        }
                    }
                }

                
            }
        }
    }

    // Секция 3. Команда Vetland Adoption
    .Team {
        position: relative;
        z-index: 3;
        background-color: var(--white);
        margin-top: -60px;

        .Team__wrapper {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 60px;
            .Team__container {
                padding: 120px 0 60px;
                .Team__content {

                    // Шапка с контентом
                    .Team__content-header {
                        display: flex;
                        justify-content: start;
                        align-items: start;
                        border-top: 2px solid var(--dark-gray);
                        padding-top: 25px;
                        margin-bottom: 85px;
                        .Team__header-title {
                            width: 50%;
                            font-size: 34px;
                            font-weight: 600;
                            line-height: 41px;
                            margin-bottom: 50px;
                            color: var(--light-gray);
                            
                        }
                        .Team__header-descr {
                            width: 50%;
                            margin-top: 91px;
                            margin-left: 13px;
                            width: 550px;
                            font-size: 38px;
                            line-height: 46px;
                            font-weight: 600;
                            letter-spacing: -0.03em;
                        }
                    }

                    // Группа карточек
                    .Team__content-cards {
                        display: flex;
                        padding-bottom: 30px;
                        border-bottom: 2px solid var(--dark-gray);
                        
                        .Team__card-item {
                            position: relative;
                            width: 210px;
                            height: 270px;
                            border-radius: var(--border-radius-medium);
                            overflow: hidden;
                            
                            &:nth-child(n):not(:last-child) {
                                margin-right: 16px;
                            }

                            .Team__card-img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            .Team__card-info {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                padding: 20px;

                                display: flex;
                                flex-direction: column;
                                justify-content: end;
                                align-items: start;

                                opacity: 0;
                                background-color: rgba(0,0,0, 0.5);
                                transition: opacity 0.3s ease-out;
                                &:hover {
                                    opacity: 1;
                                }

                                .Team__info-full-name {
                                    margin-bottom: 30px;
                                    font-size: 14px;
                                    font-weight: 600;
                                    line-height: 15px;
                                    color: var(--white);
                                }
                                .Team__info-descr {
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 20px;
                                    color: var(--white);
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    // Секция 4. Чем я могу помочь?
    .HowHelp {
        position: relative;
        background-color: var(--white);

        .HowHelp__wrapper {
            width: 100%;
            max-width: 1440px;
            padding: 0 60px;
            margin: 0 auto;
            .HowHelp__container {
                padding: 30px 0 30px;
                .HowHelp__content {
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: start;
                    padding-bottom: 50px;
                    border-bottom: 2px solid var(--dark-gray);
                    .HowHelp__header {
                        margin-bottom: 100px;
                        font-size: 34px;
                        font-weight: 600;
                        line-height: 41px;
                        margin-bottom: 50px;
                        color: var(--light-gray);
                    }
                    .HowHelp__body {
                        display: flex;
                        flex-direction: column;
                        .HowHelp__body-title {
                            margin-bottom: 36px;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 26px;
                        }
                        .HowHelp__body-cards {
                            display: flex;
                            .HowHelp__card-item {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 319px;
                                height: 270px;
                                padding: 24px 27px;
                                border: 2px solid var(--light-gray);
                                border-radius: var(--border-radius-medium);
                                color: var(--light-gray);
                                transition: var(--transition);
                                cursor: pointer;
                                &:nth-child(n):not(:last-child) {
                                    margin-right: 16px;
                                }
                                &:hover {
                                    transform: translateY(-10px);
                                    .HowHelp__card-footer {
                                        .icon {
                                            background: var(--radial-gradient-red-orange);
                                            color: var(--white);
                                            outline: none;
                                        }
                                    }
                                }
                                .HowHelp__card-header {
                                    width: 173px;
                                    text-transform: uppercase;
                                    font-weight: 700;
                                    font-size: 22px;
                                    line-height: 26px;
                                }
                                .HowHelp__card-footer {
                                    display: flex;
                                    justify-content: end;
                                    align-items: end;
                                    .icon {
                                        display: inline-flex;
                                        width: 32px;
                                        height: 32px;
                                        padding: 5px;
                                        outline: var(--outline-light-gray);
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Секция 5. Документы
    .Documents {
        background-color: var(--white);
        .Documents__wrapper {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            padding: 0 60px;
            .Documents__container {
                padding: 0 0 60px;
                .Documents__content {
                    display: flex;
                    flex-direction: column;
                    .Documents__header {
                        font-size: 34px;
                        font-weight: 600;
                        line-height: 41px;
                        margin-bottom: 50px;
                        color: var(--light-gray);
                    }
                    .Documents__body-cards {
                        display: grid;
                        grid-template-columns: repeat(8, 1fr);
                        grid-gap: 12px;
                        .Documents__card-item {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: 152px;
                            height: 180px;
                            padding: 25px 30px;
                            background: var(--radial-gradient--white-gray);
                            border-radius: var(--border-radius-medium);
                            transition: var(--transition);
                            cursor: pointer;
                            overflow: hidden;
                            &:hover {
                                transform: translateY(-7px);
                                .Documents__card-footer {
                                    .icon {
                                        background: var(--radial-gradient-red-orange);
                                        color: var(--white);
                                    }
                                }
                            }
                            .Documents__card-header {
                                
                            }
                            .Documents__card-footer {
                                display: flex;
                                justify-content: start;
                                align-items: start;
                                .icon {
                                    display: inline-flex;
                                    width: 32px;
                                    height: 32px;
                                    padding: 8px;
                                    outline: 1px solid var(--red);
                                    color: var(--red);
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}
